doctype html
html(lang="en")
    head
        title= "梅赛德斯-奔驰"
        meta(name="viewport",content="width=device-width,user-scalable=no")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
        script.
            !(function() {
                var rem;
                rem = function() {
                    document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
                };
                rem();
                window.addEventListener('resize', rem, false);
                var _hmt = _hmt || []
            })();
        link(href="/static/css/index.css",rel="stylesheet",type="text/css")
    body
        audio#audio(src="/static/image/background.mp3",loop="loop")
        div.loading-background
            div.nav
                div.logo=""
                div.music=""
                div.share=""
            div.num="0%"
            div.processing=""
        div.introduct
            div.nav
                div.logo=""
                div.music=""
                div.share=""
            div.title1=""
            div.title12=""
            div.title2=""
            div.up=""
        section.swiper-container
            section.swiper-wrapper
                section.swiper-slide(class="page page1")
                    div.nav
                        div.logo=""
                        div.music=""
                        div.share=""
                    div.background=""
                    div.car-icon=""
                    div.up=""
                section.swiper-slide(class="page page2")
                    div.nav
                        div.logo=""
                        div.music=""
                        div.share=""
                    div.background=""
                    div.car-icon=""
                    div.up=""
                section.swiper-slide(class="page page3")
                    div.nav
                        div.logo=""
                        div.music=""
                        div.share=""
                    div.background=""
                    div.car-icon=""
                    div.up=""
                section.swiper-slide(class="page page4")
                    div.nav
                        div.logo=""
                        div.music=""
                        div.share=""
                    div.background=""
                    div.ask=""

        div.background-cla
            div.ask-area
                div.ask-close=""
                div.ask-title=""
                div.submit-success=""
                div.form
                    div.line
                        div.line-cut-name
                            div.important *
                            div.word 姓名
                            input.input-dashline#name(type="text")
                        div.line-cut-sex
                            div.important *
                            div.word 性别
                            select#sex.input-dashline
                                option(value="1") 男
                                option(value="2") 女
                    div.line
                        div.important *
                        div.word 电话
                        input.input-dashline#mobile(type="number")
                    div.line
                        div.important=""
                        div.word 邮箱
                        input.input-dashline#email(type="text")
                    div.line
                        div.line-cut-name
                            div.important *
                            div.word 省份
                            select#province.input-dashline
                                option(value="0") 请选择
                                option(value="1") 广东省
                                option(value="2") 广西省
                                option(value="3") 福建省
                                option(value="4") 湖南省
                                option(value="5") 江西省
                        div.line-cut-sex
                            div.important *
                            div.word 城市
                            select.input-dashline#city=""
                    div.line
                        div.important *
                        div.word 经销商
                        select.input-dashline#mall=""
                    div.line
                        label(for="check")
                            input#check.check(type="checkbox",checked)
                            div.word 我同意以上信息提交给主办方
                    div.button-line
                        div.button#submit=""


        div.car1
            div.car-area
                div.car-close=""
                div.car-banner=""
                div.car-text=""
        div.car2
            div.car-area
                div.car-close=""
                div.car-banner=""
                div.car-text=""
        div.car3
            div.car-area
                div.car-close=""
                div.car-banner=""
                div.car-text=""

        div.share-text=""
        script(language="javascript",src="/static/js/index.js")
        script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
        script(language="javascript").
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?70a40dca298bbd815ad69edb529bfe1c";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
